.wrapper {
    display: grid;
    grid-template-columns: auto 230px minmax(320px, 1200px) auto;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
    ". nav nav ."
    ". header header ."
    ". sidebar body ."
    "footer footer footer footer";
    gap: 40px 30px;
    min-height: 100vh;
}

.header {
    grid-area: header;
    display: none;
}

.sidebar {
    grid-area: sidebar;
}

.body {
    grid-area: body;
}

.footer {
    grid-area: footer;
}

.skipLink {
	position: fixed;
	top: 0;
	left: 100px;
	display: block;
	overflow: hidden;
	height: 0;
	color: var(--white);
	background: var(--primary);
}

.displayed {
	height: auto;
}

@media (max-width: 765px) {
    .wrapper {
        grid-template-columns: minmax(320px, 1fr);
        grid-template-areas:
        "header"
        "body"
        "footer";
        gap: 0 30px;
    }

    .sidebar {
        display: none !important;
    }

    .header {
        display: block;
    }

    .body {
        padding-inline: 15px;
    }
}
