.h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 34px;
    line-height: 36px;
}

.h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 800;
    font-size: 18px;
    line-height: 20px;
}

.h3 {
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 800;
    font-size: 18px;
    line-height: 20px;
}
