.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 630px;
}

.form__name,
.form__comment {
    padding-left: 12px;
    width: 100%;
    color: white;
    background-color: black;
    border-radius: 5px;
    border: 1px solid #fff;
    font-family: var(--font-open-sans);
}

.form__name:focus,
.form__comment:focus {
    outline-color: purple;
}

.form__name {
    min-height: 60px;
}

.form__comment {
    padding-top: 20px;
    min-height: 106px;
}

.form__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 10px;
    width: 230px;
    color: white;
    background-color: black;
    border-radius: 5px;
    border: 1px solid #fff;
    cursor: pointer;
}

.form__text_error {
    min-height: 20px;
}

.form__success,
.form__error {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #fff;
}

.form__close {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 6px;
    border: none;
    background: none;
}

.error .close path {
    stroke: var(--red);
}

