.layout {
    display: flex;
    min-height: 100vh;
}

.logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    border-left: 1px solid var(--separator-color);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
