.success {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.text {
	color: #fff;
	text-align: center;
	font-size: 31px;
	font-style: normal;
	font-weight: 300;
	line-height: 120%;
}
