.cards_blog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    margin-block: 0;
    padding-left: 0;
    width: 100%;
    list-style: none;
}

@media (max-width: 768px) {
    .cards_blog {
        gap: 15px;
    }
}
