.layout {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-right: 1px solid var(--separator-color);
}

.exit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    margin-top: auto;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.link {
    display: flex;
    align-items: center;
    gap: 9px;
    text-decoration: none;
}

.link:hover {
    color: var(--primary-color);
}

.active {
    color: var(--primary-color);
}

.user {
    margin-bottom: 46px;
}

.avatar {
    margin-inline: auto;
    margin-bottom: 20px;
    filter: drop-shadow(0px 8px 40px rgba(255, 197, 41, 0.25));
}

.name {
    font-size: 20px;
    font-weight: 700;
    color: #9EA1B1;
}

.email {
    font-size: 14px;
}

.cart-count {
    background: var(--primary-color);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: var(--white-color);
}

.content {
    padding: 40px 60px;
    width: 100%;
}

.cart-count {
    background: var(--primary-color);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
