.input {
	font-size: 14px;
	background-color: #333335;
	border: 1px solid #EFEFEF;
	border-radius: 10px;
	padding: 16px 30px 16px 44px;
	min-width: 200px;
    color: #fff;
}

.input-wrapper {
	position: relative;
}

.icon {
	position: absolute;
	left: 17px;
	top: 17px;
}
