.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-height: 500px;
    border: 1px solid #a79d9d;
    border-radius: 5px;
    transition: box-shadow 0.2s;
}

@media (any-hover: hover) {
    .card:hover {
        border-color: #f5f5f5;
        box-shadow: 0 0 11px 2px #f5f5f5;
    }
}

.card__image_wrap {
    position: relative;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    background-color: var(--light-blue);
}

.card__image_wrap::before {
    content: "";
    display: block;
    padding-top: 70%;
}

.card__image {
    position: absolute;
    inset:10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    display: block;
    border-radius: 5px;
}
