:root {
  --font: 'Open Sans', sans-serif;
  --primary-color: #FE724C;
  --primary-hover-color: #e6542b;
  --text-color: #000000;
  --text-secondary-color: #5B5B5E;
  --white-color: #FFFFFF;
  --separator-color: #D4E6E0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color:#252525;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  /* max-width: 1280px; */
  margin: 0;
  color: var(--white-color);
}

button {
  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
}

a {
  display: block;
  font-size: 20px;
  text-decoration: none;
  color: inherit;
}

/* img {
  display: block;
  max-width: 100%;
  object-fit: cover;
} */
